<div class="container pt-3">
  <div [align]="right" routerLink="/employee">
    <button
      mat-raised-button
      class="m-2"
      style="background-color: #ffe700"
      routerLink="/employee-list"
    >
      Go to Employee List
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 p-5">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let element">{{ element.department }}</td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
    </ng-container>
    <ng-container matColumnDef="skills">
      <th mat-header-cell *matHeaderCellDef>Skills</th>
      <td mat-cell *matCellDef="let element">{{ element.skills }}</td>
    </ng-container>

     <ng-container matColumnDef="edit" class="">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
          style="color: purple"

          (click)="updateEmployee(element.id)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete" class="">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
          style="color: red"

          (click)="deleteEmployee(element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
